$c-darkblue: rgb(6, 70, 147);
$c-blue: rgb(21, 84, 176);
$c-lightblue: rgb(47, 170, 255);
$c-orange: rgb(244, 101, 5);
$c-yellow: rgb(228, 187, 0);
$c-lightyellow: rgb(249,236,203);
$c-greenblue: rgb(1, 255, 255);

$c-mask-blue: rgba(0, 0, 50, 0.8);