// 使用REM，375像素宽的设备下，1rem等于100px
html {
    font-size: calc(100vw / 3.75);
}

img {
    user-select: none;
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

iframe,
.pingfuADHolder,
.lxb-container {
    display: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 0!important;
    height: 0!important;
    top: -10000px!important;
    left: -10000px!important;
}

// 中文细
@font-face {
    font-family: 'CN';
    src: url('https://24haowan-cdn.shanyougame.com/dingzhi/k11-light-tour/fonts/LT.TTF');
    font-weight: normal;
    font-style: normal;
}
// 中文粗
@font-face {
    font-family: 'CNB';
    src: url('https://24haowan-cdn.shanyougame.com/dingzhi/k11-light-tour/fonts/LTC.TTF');
    font-weight: bold;
    font-style: normal;
}
// 英文细
@font-face {
    font-family: 'EN';
    src: url('https://24haowan-cdn.shanyougame.com/dingzhi/k11-light-tour/fonts/Frutiger-LT-57-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// 英文粗
@font-face {
    font-family: 'ENB';
    src: url('https://24haowan-cdn.shanyougame.com/dingzhi/k11-light-tour/fonts/Frutiger-LT-77-Black-Condensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}